<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <style>
        .w3-blue, .w3-hover-blue:hover {
    color: #fff!important;
    background-color: #2196F3!important;
}

.w3-container, .w3-panel {
    padding: 0px;
   
}
h1{
    margin-bottom: 0px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

p{
    margin-bottom: 0px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0px;
}
    </style>
    <body >
        <div class="container mt-5">
        <div class="row">
                <div class="col-sm-4" >
                        <div class="w3-container" style=" width: 761px;
                        height: 265px;" >          
                            <div class="w3-card-4" style="width:50%;" >
                                  <header class="w3-container " >
                                    <h1 style="background-color:hsl(79deg 78% 47%);color: white">Training</h1>
                                  </header>
                              
                                  <div class="w3-container" >
                                    <p style="background-color: hsl(80deg 79% 42%);color:white;padding-bottom: 40px">Technology Training
                                    <br>Class Room Training<br>Virtual Training<br>Soft Skill Training<br>Leadership Program<br>Outbound Team Building<br></p>
                                    <!-- <p style="background-color: hsl(80deg 79% 42%);color:white;">Class Room Training</p>
                                    <p style="background-color: hsl(80deg 79% 42%);color:white;">Virtual Training</p>
                                    <p style="background-color: hsl(80deg 79% 42%);color:white;">Soft Skill Training</p>
                                    <p style="background-color: hsl(80deg 79% 42%);color:white;">Leadership Program</p>
                                    <p style="background-color: hsl(80deg 79% 42%);color:white;">Outbound Team Building</p> -->
                                  </div >
                              
                                 
                                </div>
                              </div>
                </div>
                <div class="col-sm-4">
                <div class="w3-container" style=" width: 761px;
                height: 265px;">          
                    <div class="w3-card-4" style="width:50%;">
                          <header class="w3-container ">
                            <h1 style="background-color: hsl(22deg 93% 61%);color: white">Consultancy</h1>
                          </header>
                      
                          <div class="w3-container" >
                            <p style="background-color: hsl(19deg 85% 57%);color: white;padding-bottom: 112px;" >Architecture Consulting<br>Project Management Consulting<br>Virtual Project Lab for next CTOs</p>
                            <!-- <p style="background-color: hsl(19deg 85% 57%);color: white">Project Management Consulting</p>

                            <p style="background-color: hsl(19deg 85% 57%);color: white">Virtual Project Lab for next CTOs</p>
                            <p style="background-color: hsl(19deg 85% 57%);color: white"></p>
                            <p style="background-color: hsl(19deg 85% 57%);color: white"></p>
                            <p style="background-color: hsl(19deg 85% 57%);color: white"></p>
                            <p style="background-color: hsl(19deg 85% 57%);color: white"></p>
                            <p style="background-color: hsl(19deg 85% 57%);color: white"></p>
                            <p style="background-color: hsl(19deg 85% 57%);color: white"></p>
                            <p style="background-color: hsl(19deg 85% 57%);color: white"></p> -->
                          </div>
                      
                         
                        </div>
                      </div>
                </div>
    <div class="col-sm-4">
            <div class="w3-container" style=" width: 761px;
            height: 265px;">
                    <div class="w3-card-4" style="width:50%;">
                      <header class="w3-container ">
                        <h1 style="background-color: hsl(194deg 95% 48%);color:white">Certifications</h1>
                      </header>
                  
                      <div class="w3-container" >
                        <p style="background-color: hsl(196deg 96% 44%);color: white;padding-bottom:64px;">Microsoft Certification Course<br>Oracle<br>PMI-PMP<br>Agile-SCRUM<br>Software Architecture</p>
                        <!-- <p style="background-color: hsl(196deg 96% 44%);color: white">Oracle</p>
                        <p style="background-color: hsl(196deg 96% 44%);color: white">PMI-PMP</p>
                        <p style="background-color: hsl(196deg 96% 44%);color: white">Agile-SCRUM</p>
                        <p style="background-color: hsl(196deg 96% 44%);color: white">Software Architecture</p>
                        <p style="background-color: hsl(196deg 96% 44%);color: white"></p>
                        <p style="background-color: hsl(196deg 96% 44%);color: white"></p> -->
                       





                      </div>
                  
                     
                    </div>
                  </div>
      </div>
      </div>
    </div>
    </body>
      </html>